<link rel="stylesheet" type="text/css" href="/css/code_update.css">
<div id="main-body">
    <div id="menu">
<div id="list-menu">

    <ul class="vertical-list">
        <li style="margin-top:0rem !important;"><a href="/" ><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="/problem" ><i class="fa-solid fa-laptop-code"></i> Problems</a></li>
        <li onclick="showMenu()" style="cursor: pointer;"><a><i class="fa-solid fa-bars-staggered"></i> Categories</a>
            <div class="dropdown-content" id="catList" style="user-select: none;">
        <a href="/category/Recursion">Recursion</a>
        <a href="/category/Linked+List">Linked List</a>
        <a href="/category/Stack">Stack</a>
        <a href="/category/Queue">Queue</a>
        <a href="/category/Tree">Tree</a>
        <a href="/category/Binary+Tree">Binary Tree</a>
        <a href="/category/BST">BST</a>
        <a href="/category/Maps">Maps</a>
        <a href="/category/OOPs">OOPs</a>
        <a href="/category/Prority+Queue">Prority Queue</a>
        <a href="/category/Trie">Trie</a>
        <a href="/category/DP">DP</a>
        <a href="/category/Graph">Graph</a>
        <a href="/category/Backtracking">Backtracking</a>
        <a href="/category/Array">Array</a>
        <a href="/category/String">String</a>
        <a href="/category/Bit+Manipulation">Bit Manipulation</a>
        <a href="/category/Pointers">Pointers</a>
        <a href="/category/Mathematical">Mathematical</a>
        <a href="/category/Others">Others</a>
        </div>
        </li>
        <li><a href="/contests"><i class="fa-brands fa-free-code-camp"></i> Contests</a></li>
        <li onclick="showOptions()" style="cursor: pointer;"><a><i class="fa-solid fa-keyboard"></i> Practice</a>
            <div class="dropdown-content" id="platList" style="user-select: none; top:30%">
            <a href="/practice/all">All Platforms</a>
            <a href="/practice/Leetcode">Leetcode</a>
            <a href="/practice/GeeksforGeeks">GeeksforGeeks</a>
            <a href="/practice/Codechef">Codechef</a>
            <a href="/practice/Codeforces">Codeforces</a>
            <a href="/practice/HackerRank">HackerRank</a>
            <a href="/practice/HackerEarth">HackerEarth</a>
            </div>
        </li>
        <li><a href="/documents"><i class="fa-solid fa-file"></i> Documents</a></li>
        <li><a href="/tasklist"><i class="fa-solid fa-clipboard-list"></i> Task List</a></li>
        <li><a href="/code"> <i class="fa-solid fa-code"></i> Codes</a></li>
        <li><a href="/users/profile/<%=locals.user._id %>"><i class="fa-solid fa-address-card"></i> Profile Settings</a></li>
    </ul>
</div>
<div id="btn-out">
    <a href="/users/sign-out">Sign Out</a>
</div>
<div id="rights">
    @Everlast Notes, All Rights Reserved
</div>

</div>
    
    <div id="data">
         <div class="item">
            <div><%= code.name%></div>
        </div>
        <form id="shortdata" action="/code/update/saveChanges/<%= code.id%>" method="post">
            <input type="text"  name="name" value="<%= code.name%>" placeholder="Code Snippet Title" class="form-container" required>
            <textarea type="text" name="description" placeholder="Learnings or any other Code related information......" class="form-container" style ="height:40%;" required><%= code.description%></textarea>
            <textarea type="text" name="code" placeholder="Paste here Code Snippet.." class="form-container" style ="height:40%;" required><%= code.code%></textarea>
            <div id="lastrow">
            <select type="text"  name="lang" class="form-container" style="width:20%" required>
                <option disabled selected>Select Code language</option>
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="css">CSS</option>
                <option value="csharp">C#</option>
                <option value="clojure">Clojure</option>
                <option value="django">Django</option>
                <option value="ejs">EJS</option>
                <option value="elixir">Elixir</option>
                <option value="erlang">Erlang</option>
                <option value="go">GO</option>
                <option value="markup">HTML</option>
                <option value="json">JSON</option>
                <option value="julia">Julia</option>
                <option value="kotlin">Kotlin</option>
                <option value="mongodb">MongoDB</option>
                <option value="nasm">NASM</option>
                <option value="objectivec">Objective-C</option>
                <option value="perl">Perl</option>
                <option value="php">PHP</option>
                <option value="prolog">Prolog</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="javascript">JavaScript</option>
                <option value="jsx">React JSX</option>
                <option value="ruby">Ruby</option>
                <option value="sass">Sass</option>
                <option value="scss">Scss</option>
                <option value="scala">Scala</option>
                <option value="scheme">Scheme</option>
                <option value="sql">SQL</option>
                <option value="swift">Swift</option>
                <option value="typescript">TypeScript</option>
                <option value="verilog">Verilog</option>
                <option value="vhdl">VHDL</option>
                <option value="vim">vim</option>
            </select>
            <button type="submit" class="submit" style="width:15%;margin-left:10%;">Update Code</button>
        </div>
        </form>                    
    </div>
</div>