<link rel="stylesheet" type="text/css" href="/css/dash.css">
<div id="main-body">
    <div id="menu">
        <div id="list-menu">

        <ul class="vertical-list">
            <li style="margin-top:0rem !important;"><a href="/" class="highlighted"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
            <li><a href="/problem" ><i class="fa-solid fa-laptop-code"></i> Problems</a></li>
            <li onclick="showMenu()" style="cursor: pointer;"><a><i class="fa-solid fa-bars-staggered"></i> Categories</a>
                <div class="dropdown-content" id="catList" style="user-select: none;">
            <a href="/category/Recursion">Recursion</a>
            <a href="/category/Linked+List">Linked List</a>
            <a href="/category/Stack">Stack</a>
            <a href="/category/Queue">Queue</a>
            <a href="/category/Tree">Tree</a>
            <a href="/category/Binary+Tree">Binary Tree</a>
            <a href="/category/BST">BST</a>
            <a href="/category/Maps">Maps</a>
            <a href="/category/OOPs">OOPs</a>
            <a href="/category/Prority+Queue">Prority Queue</a>
            <a href="/category/Trie">Trie</a>
            <a href="/category/DP">DP</a>
            <a href="/category/Graph">Graph</a>
            <a href="/category/Backtracking">Backtracking</a>
            <a href="/category/Array">Array</a>
            <a href="/category/String">String</a>
            <a href="/category/Bit+Manipulation">Bit Manipulation</a>
            <a href="/category/Pointers">Pointers</a>
            <a href="/category/Mathematical">Mathematical</a>
            <a href="/category/Others">Others</a>
            </div>
            </li>
            <li><a href="#" ><i class="fa-brands fa-free-code-camp"></i> Contests</a></li>
            <li><a href="#" ><i class="fa-solid fa-clipboard-list"></i> Task List</a></li>
            <li><a href="#" ><i class="fa-solid fa-file-pdf"></i> PDF Notes</a></li>
            <li><a href="#" > <i class="fa-solid fa-code"></i> Codes</a></li>
            <li><a href="/users/profile/<%=locals.user._id %>"><i class="fa-solid fa-address-card"></i> Profile Settings</a></li>
        </ul>
        </div>
        <div id="btn-out">
            <a href="/users/sign-out">Sign Out</a>
        </div>
        <div id="rights">
            @Everlast Notes, All Rights Reserved
        </div>

    </div>
    <div id="data">
        <div id="shortdata">
            <div class="brick"><div id="topic">No. of Problems Solved</div><div id="stat"><%= user.problemCount%></div></div>
            <div class="brick"><div id="topic">Rank Among Users</div><div id="stat">#<%= rank%></div></div>
            <div class="brick"><div id="topic">Total Active tasks</div><div id="stat"><%= user.todos%></div></div>
        </div>
        <div id="graphical">
        <canvas id="myChart" style="max-height:500px;"></canvas>
        </div>
        <div id="lists">
            <div id="recents">
                <div class="header"><div style="width:5%;text-align: center;">Sno.</div><div style="width:53%">Recently Solved Problems</div><div style="width:30%">Category</div><div style="width:12%"></div></div>
                <% var i=1; for(problem of recents){%>
                    <div class="item animate__animated animate__fadeInUp"><div style="width:5%;text-align: center;"><%= i++%>.</div><div style="width:53%" class="question"><a href="/problem/view/<%= problem.id%>"><%= problem.name%></a></div><div style="width:30%"><%= problem.topic%></div><div style="width:12%; display: flex; justify-content: space-around;"><a style="color:#6BAAED;" href="<%= problem.link%>" target="_blank"><i class="fa-solid fa-keyboard"></i></a>&nbsp<a  href="/problem/delete/<%= problem.id%>"style="color: rgba(255, 255, 255, 0.87);" id="del" onclick="alert('You deleted a solved problem!')"><i class="fas fa-trash-alt"></i></a></div></div>
                <%}%>

            </div>
            <div id="toppers">
                <div class="header"><div style="width:15%;text-align: center;">Rank</div><div style="width:65%">Top Performers</div><div style="width:20%"></div></div>
                <% var i=1; for(person of toppers){%>
                    <div class="item animate__animated animate__fadeInUp"><div style="width:15%;text-align: center;color: #6BAAED !important; font-size:1.2rem;font-weight:400;font-family: 'Gilroy-Medium', sans-serif;">#<%= i++%></div><div style="width:65%" class="question"><a href="/users/profile/<%= person.id%>"><%= person.name%></a></div><div style="width:20%;box-sizing: border-box;" id="userlistdp">
                        <a href="/users/profile/<%= person.id%>"><img src="<%= person.avatar%>"></img></a>
                    </div>
                    </div>
                <%}%> 
            </div>
        </div>
        
    </div>
</div>

<script>
const ctx = document.getElementById('myChart');
const labels = ['Recursion', 'Linked List', 'Stack', 'Queue', 'Tree', 'Binary Tree','BST','Maps','OOPs','Priority Queue','Trie','DP','Graph','Backtracking','Array','String','Bit Manipulation','Pointers','Mathematical','Other'];
const backgrounds=[];
const borders=[];
for(let i=0;i<labels.length;i++){
const r = Math.floor(Math.random()*256);
const g = Math.floor(Math.random()*256);
const b = Math.floor(Math.random()*256);
backgrounds.push('rgba('+r+','+g+','+b+',0.3)');
borders.push('rgba('+r+','+g+','+b+',1)');
}

const myChart = new Chart(ctx, {
type: 'bar',
data: {
labels: labels,
datasets: [{
    label: 'Problems Solved',
    data:[<%= chartData %>],
    backgroundColor:backgrounds,
    borderColor:borders,
    borderWidth: 1,
    borderRadius: 8,
    hoverBorderWidth:2
}]
},
options: {
scales: {
    y: {
        ticks:{
            color: 'white',
            font: {
                size: 14,
                family:'Gilroy-Light',
                style:'normal'
            }

        },
        beginAtZero:true
    },
    x: {
        ticks:{
            color: 'white',
            font: {
                size: 12,
                family:'Gilroy-Light',
                style:'normal'
            }

        }
    }
},
plugins: {
    title: {
        display: true,
        text: 'Problems Solved Category wise',
        color: 'white',
        font: {
                size: 16,
                family:'Gilroy-Medium',
                style:'normal'
         }
    },
    legend: {
        display: true,
        labels: {
            color: 'white',
            font: {
                size: 14,
                family:'Gilroy-Light',
                style:'normal'
            }
        }
    }
}
}
});
</script>