<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- icon -->
	<link rel ="icon" href="/images/logo.png" type = "image/x-icon" >
	<!-- animate.css -->
	<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- home style css -->
    <% if(!title.startsWith('Everlast')&&!title.startsWith('Create')&&!title.startsWith('Forgot')){%>
	    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <%}%>
	<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
    @import url('https://fonts.cdnfonts.com/css/gilroy-bold');
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
    <%- style%>
</head>
<body class=" animate__animated animate__fadeIn">
    <% if(locals.user){%>
        <%- include('_header');%>
        <div id="social" class="animate__animated animate__slideInRight">
            <a id="hackerrank" class="social-btn" target="_blank" href="https://www.hackerrank.com/dashboard"><img class="social-img" src="/images/logo hackerrank icon.png" alt="HR"></a>

            <a id="leetcode" class="social-btn" target="_blank" href="https://leetcode.com/problemset/all/"><img class="social-img" src="/images/LeetCode_logo_black.png" alt="LC"></a>

            <a id="gfg" class="social-btn" target="_blank" href="https://practice.geeksforgeeks.org/explore/?page=1"><img class="social-img" src="/images/GeeksforGeeks.png" alt="gfg"></a>

            <a id="codeforces" class="social-btn" target="_blank" href="https://codeforces.com/problemset"><img class="social-img" src="/images/code-forces-3628695-3029920.png" alt="CF"></a>

            <a id="codechef" class="social-btn" target="_blank" href="https://www.codechef.com/"><img class="social-img" src="/images/11960354.png" alt="CC"></a>

            <a id="hackerearth" class="social-btn" target="_blank" href="https://www.hackerearth.com/"><img class="social-img" src="/images/HackerEarth_logo.png" alt="HE"></a>
        </div>
    <%}%>
    <%- body%>
    <%- script%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/navbar.js"></script>
</body>
</html>