<link href="/css/prism.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/problem_view.css">
    <div id="main-body">
        <div id="menu">
    <div id="list-menu">

        <ul class="vertical-list">
            <li style="margin-top:0rem !important;"><a href="/"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
            <li><a href="/problem" ><i class="fa-solid fa-laptop-code"></i> Problems</a></li>
            <li onclick="showMenu()" style="cursor: pointer;"><a><i class="fa-solid fa-bars-staggered"></i> Categories</a>
                <div class="dropdown-content" id="catList" style="user-select: none;">
            <a href="/category/Recursion">Recursion</a>
            <a href="/category/Linked+List">Linked List</a>
            <a href="/category/Stack">Stack</a>
            <a href="/category/Queue">Queue</a>
            <a href="/category/Tree">Tree</a>
            <a href="/category/Binary+Tree">Binary Tree</a>
            <a href="/category/BST">BST</a>
            <a href="/category/Maps">Maps</a>
            <a href="/category/OOPs">OOPs</a>
            <a href="/category/Prority+Queue">Prority Queue</a>
            <a href="/category/Trie">Trie</a>
            <a href="/category/DP">DP</a>
            <a href="/category/Graph">Graph</a>
            <a href="/category/Backtracking">Backtracking</a>
            <a href="/category/Array">Array</a>
            <a href="/category/String">String</a>
            <a href="/category/Bit+Manipulation">Bit Manipulation</a>
            <a href="/category/Pointers">Pointers</a>
            <a href="/category/Mathematical">Mathematical</a>
            <a href="/category/Others">Others</a>
            </div>
            </li>
            <li onclick="showList()" style="cursor: pointer;"><a><i class="fa-solid fa-bookmark"></i> Favourites</a>
                <div class="dropdown-content" id="siteList" style="user-select: none; top:25%">
                <a href="/favourite/all">All Platforms</a>
                <a href="/favourite/Leetcode">Leetcode</a>
                <a href="/favourite/GeeksforGeeks">GeeksforGeeks</a>
                <a href="/favourite/Codechef">Codechef</a>
                <a href="/favourite/Codeforces">Codeforces</a>
                <a href="/favourite/HackerRank">HackerRank</a>
                <a href="/favourite/HackerEarth">HackerEarth</a>
                </div>
            </li>
            <li><a href="/contests"><i class="fa-brands fa-free-code-camp"></i> Contests</a></li>
            <li onclick="showOptions()" style="cursor: pointer;"><a><i class="fa-solid fa-keyboard"></i> Practice</a>
                <div class="dropdown-content" id="platList" style="user-select: none; top:30%">
                <a href="/practice/all">All Platforms</a>
                <a href="/practice/Leetcode">Leetcode</a>
                <a href="/practice/GeeksforGeeks">GeeksforGeeks</a>
                <a href="/practice/Codechef">Codechef</a>
                <a href="/practice/Codeforces">Codeforces</a>
                <a href="/practice/HackerRank">HackerRank</a>
                <a href="/practice/HackerEarth">HackerEarth</a>
                </div>
            </li>
            <li><a href="/documents"><i class="fa-solid fa-file"></i> Documents</a></li>
            <li><a href="/tasklist"><i class="fa-solid fa-clipboard-list"></i> Task List</a></li>
            <li><a href="/code"> <i class="fa-solid fa-code"></i> Codes</a></li>
            <li><a href="/users/profile/<%=locals.user._id %>"><i class="fa-solid fa-address-card"></i> Profile Settings</a></li>
        </ul>
    </div>
    <div id="btn-out">
        <a href="/users/sign-out">Sign Out</a>
    </div>
    <div id="rights">
        @Everlast Notes, All Rights Reserved
    </div>

</div>
        
    <div id="data">
            <div id="shortdata">
                <div class="form-container" style="font-family: 'Gilroy-Medium';padding:1.5rem; font-size:1.7rem;border-color: white;"><%= problem.name%></div>
                <div id="lastrow">
                <div id="tags">
                        <div id="tag" style="background-color:#F97600;"><%= problem.lang%></div>
                        <div id="tag" style="background-color:#1570FF;"><%= problem.topic%></div>
                        <div id="tag" style="background-color:#389810;"><%= problem.website%></div>
                </div>
                <div id="tools">
                        <a href="<%= problem.link%>" target="_blank" style="color:#6BAAED" target="_blank" data-toggle="tooltip" data-placement="top" title="Practice Problem"><i class="fa-solid fa-keyboard"></i></a>
                        <a onclick="toggleBookmark('/favourite/toggleLike/<%=problem.id%>')" data-toggle="tooltip" data-placement="top" title="Favourite | Unfavourite">
                            <% if(problem.favourite){%>
                                <i id="<%= problem.id%>" class="fa-solid fa-bookmark"></i>
                            <%}else{%>
                                <i id="<%= problem.id%>" class="fa-regular fa-bookmark"></i>
                            <%}%>    
                        </a>
                        <a href="/problem/update/<%= problem.id%>" data-toggle="tooltip" data-placement="top" title="Update Problem Details"><i class="fa-solid fa-pencil"></i></a>
                        <a href="/problem/delete/<%= problem.id%>" id="delete" onclick="alert('You deleted a solved problem!')" data-toggle="tooltip" data-placement="top" title="Delete Problem"><i class="far fa-trash-alt"></i></a>
                </div>
                </div>
                <div class="form-container" style="text-align: left;"><%= problem.description%>
                </div>
                <div style="width: 100%;"><pre><code class="language-<%= problem.lang%> line-numbers show-language match-braces"><%= problem.code%> 
                </code>
                </pre>
            </div>
            </div>                    
        </div>
    </div>
<script src="/js/prism.js"></script>
<script src="/js/bookmark.js"></script>
