<link rel="stylesheet" type="text/css" href="/css/problems.css">
<div id="main-body">
    <div id="menu">
<div id="list-menu">

    <ul class="vertical-list">
        <li style="margin-top:0rem !important;"><a href="/" ><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="/problem" class="highlighted"><i class="fa-solid fa-laptop-code"></i> Problems</a></li>
        <li onclick="showMenu()" style="cursor: pointer;"><a><i class="fa-solid fa-bars-staggered"></i> Categories</a>
            <div class="dropdown-content" id="catList" style="user-select: none;">
        <a href="/category/Recursion">Recursion</a>
        <a href="/category/Linked+List">Linked List</a>
        <a href="/category/Stack">Stack</a>
        <a href="/category/Queue">Queue</a>
        <a href="/category/Tree">Tree</a>
        <a href="/category/Binary+Tree">Binary Tree</a>
        <a href="/category/BST">BST</a>
        <a href="/category/Maps">Maps</a>
        <a href="/category/OOPs">OOPs</a>
        <a href="/category/Prority+Queue">Prority Queue</a>
        <a href="/category/Trie">Trie</a>
        <a href="/category/DP">DP</a>
        <a href="/category/Graph">Graph</a>
        <a href="/category/Backtracking">Backtracking</a>
        <a href="/category/Array">Array</a>
        <a href="/category/String">String</a>
        <a href="/category/Bit+Manipulation">Bit Manipulation</a>
        <a href="/category/Pointers">Pointers</a>
        <a href="/category/Mathematical">Mathematical</a>
        <a href="/category/Others">Others</a>
        </div>
        </li>
        <li onclick="showList()" style="cursor: pointer;"><a><i class="fa-solid fa-bookmark"></i> Favourites</a>
            <div class="dropdown-content" id="siteList" style="user-select: none; top:25%">
            <a href="/favourite/all">All Platforms</a>
            <a href="/favourite/Leetcode">Leetcode</a>
            <a href="/favourite/GeeksforGeeks">GeeksforGeeks</a>
            <a href="/favourite/Codechef">Codechef</a>
            <a href="/favourite/Codeforces">Codeforces</a>
            <a href="/favourite/HackerRank">HackerRank</a>
            <a href="/favourite/HackerEarth">HackerEarth</a>
            </div>
        </li>
        <li><a href="/contests"><i class="fa-brands fa-free-code-camp"></i> Contests</a></li>
        <li onclick="showOptions()" style="cursor: pointer;"><a><i class="fa-solid fa-keyboard"></i> Practice</a>
            <div class="dropdown-content" id="platList" style="user-select: none; top:30%">
            <a href="/practice/all">All Platforms</a>
            <a href="/practice/Leetcode">Leetcode</a>
            <a href="/practice/GeeksforGeeks">GeeksforGeeks</a>
            <a href="/practice/Codechef">Codechef</a>
            <a href="/practice/Codeforces">Codeforces</a>
            <a href="/practice/HackerRank">HackerRank</a>
            <a href="/practice/HackerEarth">HackerEarth</a>
            </div>
        </li>
        <li><a href="/documents"><i class="fa-solid fa-file"></i> Documents</a></li>
        <li><a href="/tasklist"><i class="fa-solid fa-clipboard-list"></i> Task List</a></li>
        <li><a href="/code"> <i class="fa-solid fa-code"></i> Codes</a></li>
        <li><a href="/users/profile/<%=locals.user._id %>"><i class="fa-solid fa-address-card"></i> Profile Settings</a></li>
    </ul>
</div>
<div id="btn-out">
    <a href="/users/sign-out"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
</div>
<div id="rights">
    @Everlast Notes, All Rights Reserved
</div>

</div>
    
    <div id="data">
        <% if(locals.user){%>
        <form id="shortdata" action="/problem/create" method="post">
            <input type="text"  name="name" placeholder="Problem Title" class="form-container" required>
            <textarea type="text" name="description" placeholder="Learnings or any other Problem related information......" class="form-container" style ="height:8rem;" required></textarea>
            <input type="url"  name="link" placeholder="Problem Practice URL" class="form-container" required>
            <textarea type="text" name="code" placeholder="Paste Problem's solution Code" class="form-container" style ="height:8rem;" required></textarea>
            <div id="lastrow">
            <select type="text"  name="lang" class="form-container" style="width:20%" required>
                <option disabled selected>Select Code language</option>
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="java">Java</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
            </select>
            <select type="text"  name="topic" class="form-container" style="width:25%" required>
                 <option disabled selected>Select Problem Topic</option>
                 <option value="Recursion">Recursion</option>
                 <option value="Linked List">Linked List</option>
                 <option value="Stack">Stack</option>
                 <option value="Queue">Queue</option>
                 <option value="Tree">Tree</option>
                 <option value="Binary Tree">Binary Tree</option>
                 <option value="BST">BST</option>
                 <option value="Maps">Maps</option>
                 <option value="OOPs">OOPs</option>
                 <option value="Prority Queue">Prority Queue</option>
                 <option value="Trie">Trie</option>
                 <option value="DP">DP</option>
                 <option value="Graph">Graph</option>
                 <option value="Backtracking">Backtracking</option>
                 <option value="Array">Array</option>
                 <option value="String">String</option>
                 <option value="Bit Manipulation">Bit Manipulation</option>
                 <option value="Pointers">Pointers</option>
                 <option value="Mathematical">Mathematical</option>
                 <option value="Others">Others</option>
            </select>
            <select type="text"  name="website" class="form-container" style="width:25%" required>
                <option disabled selected>Select Problem's Platform</option>
                <option value="GeeksforGeeks">GeeksforGeeks</option>
                <option value="Leetcode">Leetcode</option>
                <option value="HackerRank">HackerRank</option>
                <option value="Codechef">Codechef</option>
                <option value="Codeforces">Codeforces</option>
                <option value="HackerEarth">HackerEarth</option>
            </select>
            <button type="submit" class="submit" style="width:15%;margin-left:10%;">Add Problem</button>
        </div>
        </form>
        <%}%>
        <div class="item">
            <div>Problems Solved</div>
            <select id="sel" type="text"  name="lang" class="form-container" style="width:20%;background: transparent;" required>
                <option disabled selected><i class="fas fa-filter">Sort By</i></option>
                <option value="desc" ><a href="#" >Latest First</a></option>
                <option value="asc" ><a href="#" >Latest Last</a></option>
            </select>
        </div>
        <% if(!problems.length) {%>
            <div class="empty-state animate__animated animate__pulse">
                <div class="empty-state__content">
                  <div class="empty-state__icon">
                    <img src="/images/search-result-not-found-2130361-1800925.png" alt="no-result-found">
                  </div>
                  <div class="empty-state__message">No Problems solved.</div>
                  <div class="empty-state__help">
                    Add a new problem from the above form.
                  </div>
                </div>
            </div>
        <%}%>
        <div id="listitems" class="top-to-bottom">
            <% for(let problem of problems){%>
                <div class="brick animate__animated animate__fadeInUp">
                    <div id="name"><a href="/problem/view/<%= problem.id%>" data-toggle="tooltip" data-placement="top" title="View Problem"><%= problem.name%></a></div>
                    <div id="tags">
                        <div id="tag" style="background-color:#F97600;"><%= problem.lang%></div>
                        <div id="tag" style="background-color:#1570FF;"><%= problem.topic%></div>
                        <div id="tag" style="background-color:#389810;"><%= problem.website%></div>
                    </div>
                    <div id="tools">
                        <a href="<%= problem.link%>" target="_blank" style="color:#6BAAED" target="_blank" data-toggle="tooltip" data-placement="top" title="Practice Problem"><i class="fa-solid fa-keyboard"></i></a>
                        <a onclick="toggleBookmark('/favourite/toggleLike/<%=problem.id%>')" data-toggle="tooltip" data-placement="top" title="Favourite | Unfavourite">
                            <% if(problem.favourite){%>
                                <i id="<%= problem.id%>" class="fa-solid fa-bookmark"></i>
                            <%}else{%>
                                <i id="<%= problem.id%>" class="fa-regular fa-bookmark"></i>
                            <%}%>    
                        </a>
                        <a href="/problem/update/<%= problem.id%>" data-toggle="tooltip" data-placement="top" title="Update Problem Details"><i class="fa-solid fa-pencil"></i></a>
                        <a href="/problem/delete/<%= problem.id%>" id="delete" onclick="alert('You deleted a solved problem!')" data-toggle="tooltip" data-placement="top" title="Delete Problem"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            <%}%>
        </div>
            
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/bookmark.js"></script>
<script>
    var check="desc";
    var select = document.querySelector('#sel');
    select.addEventListener('change',function(){
        if(check!==select.value){
            check=select.value;
            var parent = document.getElementsByClassName('top-to-bottom')[0],
            divs = parent.children,
            i = divs.length;

            for (; i--;) {
                parent.appendChild(divs[i])
            }
        }
    });
</script>