<link rel="stylesheet" type="text/css" href="/css/problem_update.css">
<div id="main-body">
    <div id="menu">
<div id="list-menu">

    <ul class="vertical-list">
        <li style="margin-top:0rem !important;"><a href="/" ><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="/problem" ><i class="fa-solid fa-laptop-code"></i> Problems</a></li>
        <li onclick="showMenu()" style="cursor: pointer;"><a><i class="fa-solid fa-bars-staggered"></i> Categories</a>
            <div class="dropdown-content" id="catList" style="user-select: none;">
        <a href="/category/Recursion">Recursion</a>
        <a href="/category/Linked+List">Linked List</a>
        <a href="/category/Stack">Stack</a>
        <a href="/category/Queue">Queue</a>
        <a href="/category/Tree">Tree</a>
        <a href="/category/Binary+Tree">Binary Tree</a>
        <a href="/category/BST">BST</a>
        <a href="/category/Maps">Maps</a>
        <a href="/category/OOPs">OOPs</a>
        <a href="/category/Prority+Queue">Prority Queue</a>
        <a href="/category/Trie">Trie</a>
        <a href="/category/DP">DP</a>
        <a href="/category/Graph">Graph</a>
        <a href="/category/Backtracking">Backtracking</a>
        <a href="/category/Array">Array</a>
        <a href="/category/String">String</a>
        <a href="/category/Bit+Manipulation">Bit Manipulation</a>
        <a href="/category/Pointers">Pointers</a>
        <a href="/category/Mathematical">Mathematical</a>
        <a href="/category/Others">Others</a>
        </div>
        </li>
        <li><a href="/contests"><i class="fa-brands fa-free-code-camp"></i> Contests</a></li>
        <li onclick="showOptions()" style="cursor: pointer;"><a><i class="fa-solid fa-keyboard"></i> Practice</a>
            <div class="dropdown-content" id="platList" style="user-select: none; top:30%">
            <a href="/practice/all">All Platforms</a>
            <a href="/practice/Leetcode">Leetcode</a>
            <a href="/practice/GeeksforGeeks">GeeksforGeeks</a>
            <a href="/practice/Codechef">Codechef</a>
            <a href="/practice/Codeforces">Codeforces</a>
            <a href="/practice/HackerRank">HackerRank</a>
            <a href="/practice/HackerEarth">HackerEarth</a>
            </div>
        </li>
        <li><a href="/documents"><i class="fa-solid fa-file"></i> Documents</a></li>
        <li><a href="#" ><i class="fa-solid fa-clipboard-list"></i> Task List</a></li>
        <li><a href="#" > <i class="fa-solid fa-code"></i> Codes</a></li>
        <li><a href="/users/profile/<%=locals.user._id %>"><i class="fa-solid fa-address-card"></i> Profile Settings</a></li>
    </ul>
</div>
<div id="btn-out">
    <a href="/users/sign-out">Sign Out</a>
</div>
<div id="rights">
    @Everlast Notes, All Rights Reserved
</div>

</div>
    
    <div id="data">
         <div class="item">
            <div><%= problem.name%></div>
        </div>
        <form id="shortdata" action="/problem/update/saveChanges/<%= problem.id%>" method="post">
            <input type="text"  name="name" value="<%= problem.name%>" placeholder="Problem Title" class="form-container" required>
            <textarea type="text" name="description" placeholder="Learnings or any other Problem related information......" class="form-container" style ="height:35%;" required><%= problem.description%></textarea>
            <input type="url"  name="link" value="<%= problem.link%>" placeholder="Problem Practice URL" class="form-container" required>
            <textarea type="text" name="code" placeholder="Paste Problem's solution Code" class="form-container" style ="height:35%;" required><%= problem.code%></textarea>
            <div id="lastrow">
            <select type="text"  name="lang" class="form-container" style="width:20%" required>
                <option disabled selected>Select Code language</option>
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="java">Java</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
            </select>
            <select type="text"  name="topic" class="form-container" style="width:25%" required>
                 <option disabled selected>Select Problem Topic</option>
                 <option value="Recursion">Recursion</option>
                 <option value="Linked List">Linked List</option>
                 <option value="Stack">Stack</option>
                 <option value="Queue">Queue</option>
                 <option value="Tree">Tree</option>
                 <option value="Binary Tree">Binary Tree</option>
                 <option value="BST">BST</option>
                 <option value="Maps">Maps</option>
                 <option value="OOPs">OOPs</option>
                 <option value="Prority Queue">Prority Queue</option>
                 <option value="Trie">Trie</option>
                 <option value="DP">DP</option>
                 <option value="Graph">Graph</option>
                 <option value="Backtracking">Backtracking</option>
                 <option value="Array">Array</option>
                 <option value="String">String</option>
                 <option value="Bit Manipulation">Bit Manipulation</option>
                 <option value="Pointers">Pointers</option>
                 <option value="Mathematical">Mathematical</option>
                 <option value="Others">Others</option>
            </select>
            <select type="text"  name="website" class="form-container" style="width:25%" required>
                <option disabled selected>Select Problem's Platform</option>
                <option value="GeeksforGeeks">GeeksforGeeks</option>
                <option value="Leetcode">Leetcode</option>
                <option value="HackerRank">HackerRank</option>
                <option value="Codechef">Codechef</option>
                <option value="Codeforces">Codeforces</option>
                <option value="HackerEarth">HackerEarth</option>
            </select>
            <button type="submit" class="submit" style="width:15%;margin-left:10%;">Update Problem</button>
        </div>
        </form>                    
    </div>
</div>