<link rel="stylesheet" type="text/css" href="/css/profile.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div id="main-body">
    <div id="menu">
<div id="list-menu">

    <ul class="vertical-list">
        <li style="margin-top:0rem !important;"><a href="/" ><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a href="/problem" ><i class="fa-solid fa-laptop-code"></i> Problems</a></li>
        <li onclick="showMenu()" style="cursor: pointer;"><a><i class="fa-solid fa-bars-staggered"></i> Categories</a>
            <div class="dropdown-content" id="catList" style="user-select: none;">
        <a href="/category/Recursion">Recursion</a>
        <a href="/category/Linked+List">Linked List</a>
        <a href="/category/Stack">Stack</a>
        <a href="/category/Queue">Queue</a>
        <a href="/category/Tree">Tree</a>
        <a href="/category/Binary+Tree">Binary Tree</a>
        <a href="/category/BST">BST</a>
        <a href="/category/Maps">Maps</a>
        <a href="/category/OOPs">OOPs</a>
        <a href="/category/Prority+Queue">Prority Queue</a>
        <a href="/category/Trie">Trie</a>
        <a href="/category/DP">DP</a>
        <a href="/category/Graph">Graph</a>
        <a href="/category/Backtracking">Backtracking</a>
        <a href="/category/Array">Array</a>
        <a href="/category/String">String</a>
        <a href="/category/Bit+Manipulation">Bit Manipulation</a>
        <a href="/category/Pointers">Pointers</a>
        <a href="/category/Mathematical">Mathematical</a>
        <a href="/category/Others">Others</a>
        </div>
        </li>
        <li><a href="#" ><i class="fa-brands fa-free-code-camp"></i> Contests</a></li>
        <li><a href="#" ><i class="fa-solid fa-clipboard-list"></i> Task List</a></li>
        <li><a href="#" ><i class="fa-solid fa-file-pdf"></i> PDF Notes</a></li>
        <li><a href="#" > <i class="fa-solid fa-code"></i> Codes</a></li>
        <li><a href="/users/profile/<%=locals.user._id %>" class="highlighted"><i class="fa-solid fa-address-card"></i> Profile Settings</a></li>
    </ul>
</div>
<div id="btn-out">
    <a href="/users/sign-out">Sign Out</a>
</div>
<div id="rights">
    @Everlast Notes, All Rights Reserved
</div>

</div>
    
<div id="data">
        <div id="pic" class="animate__animated animate__fadeInUp">
            
            <div id="mainInfo">
                
                    <form class="avatar-wrapper" action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                        <img class="profile-pic" src="<%= profile_user.avatar %>">
                        <% if(locals.user.id == profile_user.id){ %>
                        <div class="upload-button">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                        </div>
                        <input class="file-upload" type="file" accept="image/*" name="avatar" onchange="this.form.submit()" required>
                        <%}%>
                        </form>
             
            </div>
            <div id="userInfo">
                <div id="leftInfo">
                <div class="brick" style="width:100%;height:100%; flex-direction: column;align-items: flex-end; box-sizing: border-box;padding: 1rem;"><div id="topic" style="width: 100%;text-align: center; font-size: 2.6rem;font-weight:400;">#<%= rank%></div><div id="stat" style="width: 100%;text-align: center; font-size: 1.4rem;font-weight: 600;">Overall Rank</div></div>
                </div>
                <div id="centerInfo">
                    <div class="brick" style="width:100%;height:100%; flex-direction: column; box-sizing: border-box;padding: 1.4rem;"><div id="topic" style="width: 100%;text-align: center; font-size: 2.8rem;font-weight:600;color:  #6BAAED;line-height: 37px;"><%= profile_user.name %></div><div id="stat" style="width: 100%;text-align: center; font-size: 1.3rem;color: #838383;line-height: 30px;"><%= profile_user.email %></div></div>
                </div>
                <div id="rightInfo">
                <div class="brick" style="width:100%;height:100%; flex-direction: column;align-items: flex-end; box-sizing: border-box;padding: 1rem;"><div id="topic" style="width: 100%;text-align: center; font-size: 2.6rem;font-weight:400;"><%= profile_user.problemCount %></div><div id="stat" style="width: 100%;text-align: center; font-size: 1.4rem;font-weight: 600;">Problems Solved</div></div>
                </div>
                
            </div>
            <div id="bottomInfo">
                <div id="profile">
                <a href="<%= profile_user.github%>" target="_blank"><img style="border-radius:5px; border:none;width:2.2rem;height: 2.2rem;" src="/images/github.png"></img></a>
                </div>
                <div id="profile">
                <a href="<%= profile_user.linkedin%>" target="_blank"><img  style="border:none; border-radius:5px;width:2.2rem;height: 2.2rem;" src="/images/linkedin.png"></img></a>
                </div>
                <div id="profile">
                <a href="<%= profile_user.facebook%>" target="_blank"><img  style="border:none; border-radius: 5px;width:2.2rem;height: 2.2rem;" src="/images/facebook.png"></img></a>
                </div>
                <div id="profile">
                <a href="<%= profile_user.instagram%>" target="_blank"><img style="border:none; border-radius: 5px;width:2.2rem;height: 2.2rem;" src="/images/instagram.png"></img></a>
                </div>
            </div>
            
                    
        </div>
        <% if(locals.user.id == profile_user.id){%>
            <div id="shortdata">
                <form class="item form-container" action="/users/updateName/<%= profile_user.id %>" method="POST">
                <input type="text"  name="name" placeholder="Username" required>
                <button type="submit" >Update</button>
                </form>
                <form class="item form-container" action="/users/updatePassword/<%= profile_user.id %>" method="POST">
                <input type="text"  name="password" placeholder="Password" required>
                <button type="submit">Update</button>
                </form>
                <form class="item form-container" action="/users/updateGithub/<%= profile_user.id %>" method="POST">
                    <input type="text"  name="github" placeholder="Github URL" required>
                    <button type="submit">Update</button>
                </form>
                <form class="item form-container" action="/users/updateLinkedin/<%= profile_user.id %>" method="POST">
                    <input type="text"  name="linked" placeholder="linkedin URL" required>
                    <button type="submit">Update</button>
                </form>
                <form class="item form-container" action="/users/updateFacebook/<%= profile_user.id %>" method="POST">
                    <input type="text"  name="facebook" placeholder="Facebook URL" required>
                    <button type="submit">Update</button>
                </form>
                <form class="item form-container" action="/users/updateInstagram/<%= profile_user.id %>" method="POST">
                    <input type="text"  name="instagram" placeholder="Instagram URL" required>
                    <button type="submit">Update</button>
                </form>
            </div>
        <%}%>
        
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script  src="/js/profile.js"></script>